Service Composition Framework/eu.aniketos.scf.implementation/resources/TRRM_WSDL.wsdl

<!--
  Copyright (c) 2012, Project: FP7-ICT-257930 Aniketos
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  
   -  Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
   -  Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
   -  Neither the name of institution nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://trrm.components.wp4.aniketos.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IThreatResponseRecomm" targetNamespace="http://trrm.components.wp4.aniketos.eu/">
<wsdl:types>
<xsd:schema xmlns:ns0="http://trrm.components.wp4.aniketos.eu/" xmlns:tns="http://download.schema.threatrepository.aniketos.eu" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://download.schema.threatrepository.aniketos.eu">
<xsd:import namespace="http://trrm.components.wp4.aniketos.eu/"/>
<xsd:complexType name="Preconditions">
<xsd:sequence>
<xsd:element minOccurs="0" name="precondition" nillable="true" type="ns0:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Threat">
<xsd:sequence>
<xsd:element minOccurs="0" name="relation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="threatId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Tags">
<xsd:sequence>
<xsd:element minOccurs="0" name="tag" nillable="true" type="ns0:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Threats">
<xsd:sequence>
<xsd:element minOccurs="0" name="threat" nillable="true" type="tns:ArrayOfThreat"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCountermeasure">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Countermeasure" nillable="true" type="tns:Countermeasure"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Metadata">
<xsd:sequence>
<xsd:element minOccurs="0" name="counterId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creationdate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="creator" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="execresponsible" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="externalrefs" nillable="true" type="tns:Externalrefs"/>
<xsd:element minOccurs="0" name="lastupdated" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="lastupdatedby" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="resultdesc" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="tags" nillable="true" type="tns:Tags"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Externalrefs">
<xsd:sequence>
<xsd:element minOccurs="0" name="externalref" nillable="true" type="ns0:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Countermeasure">
<xsd:sequence>
<xsd:element minOccurs="0" name="countermeasuredata" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="metadata" nillable="true" type="tns:Metadata"/>
<xsd:element minOccurs="0" name="preconditions" nillable="true" type="tns:Preconditions"/>
<xsd:element minOccurs="0" name="threats" nillable="true" type="tns:Threats"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfThreat">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Threat" nillable="true" type="tns:Threat"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:ns0="http://download.schema.threatrepository.aniketos.eu" xmlns:tns="http://trrm.components.wp4.aniketos.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://trrm.components.wp4.aniketos.eu/">
<xsd:import namespace="http://download.schema.threatrepository.aniketos.eu"/>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="requestContermeasuresTRRM" type="tns:requestContermeasuresTRRM"/>
<xsd:complexType name="requestContermeasuresTRRM">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="requestContermeasuresTRRMResponse" type="tns:requestContermeasuresTRRMResponse"/>
<xsd:complexType name="requestContermeasuresTRRMResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfCountermeasure"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="requestContermeasuresTRRMResponse">
<wsdl:part element="tns:requestContermeasuresTRRMResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="requestContermeasuresTRRM">
<wsdl:part element="tns:requestContermeasuresTRRM" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="IThreatResponseRecommPortType">
<wsdl:operation name="requestContermeasuresTRRM">
<wsdl:input message="tns:requestContermeasuresTRRM" name="requestContermeasuresTRRM"></wsdl:input>
<wsdl:output message="tns:requestContermeasuresTRRMResponse" name="requestContermeasuresTRRMResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IThreatResponseRecommSoapBinding" type="tns:IThreatResponseRecommPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="requestContermeasuresTRRM">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="requestContermeasuresTRRM">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="requestContermeasuresTRRMResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IThreatResponseRecomm">
<wsdl:port binding="tns:IThreatResponseRecommSoapBinding" name="IThreatResponseRecommPort">
<soap:address location="http://212.170.156.106:9090/ThreatResponseRecommendation"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
